.taskListItem {
  display: flex;
  align-items: stretch;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1.5px solid var(--accent-color);
}

.taskListItem:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background 0.2s ease;
}

.taskListItem > * {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  margin-left: 5px;
  color: var(--text-color);
}

.dueDate,
.createdAt {
  width: 115px;
  padding: 10px 5px;
  border-left: 1.5px solid var(--accent-color);
  color: var(--text-color);
}

.priority {
  padding: 0 10px;
  width: 150px;
  border-left: 1.5px solid var(--accent-color);
  color: var(--text-color);
}

.dragIcon,
.deleteIcon {
  visibility: hidden;
  color: #777;
}

.taskListItem:hover .dragIcon,
.taskListItem:hover .deleteIcon {
  visibility: visible;
}

.dragIcon {
  margin-right: 10px;
}

.dragIcon:hover {
  cursor: grab;
}

.deleteIcon {
}

.deleteIcon:hover {
  color: red;
  transition: color 0.2s ease;
}

.clearIcon {
  border-radius: 5px;
}

.clearIcon:hover {
  background-color: #e5edfc;
  transition: all 0.3s ease;
}
