.taskListItem {
  display: flex;
  align-items: stretch;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1.5px solid #e8f1ff;
}

.taskListItem:hover {
  cursor: pointer;
  background-color: #f9fafd;
  transition: background 0.2s ease;
}

.taskListItem > * {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  margin-left: 5px;
}

.dueDate,
.createdAt {
  width: 150px;
  padding: 10px 5px;
  border-left: 1.5px solid #e8f1ff;
}

.priority {
  padding: 0 10px;
  width: 150px;
  border-left: 1.5px solid #e8f1ff;
}

.dragIcon,
.deleteIcon {
  visibility: hidden;
  color: #121212;
}

.taskListItem:hover .dragIcon,
.taskListItem:hover .deleteIcon {
  visibility: visible;
}

.dragIcon {
  margin-right: 10px;
}

.dragIcon:hover {
  cursor: grab;
}

.deleteIcon {
}

.deleteIcon:hover {
  color: red;
  transition: color 0.2s ease;
}

.clearIcon {
  border-radius: 5px;
}

.clearIcon:hover {
  background-color: #e5edfc;
  transition: all 0.3s ease;
}
