.categoryList,
.categoryListItem {
  width: 100%;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CATEGORY HEADER */

.categoryHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.showTasksIcon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.tasksCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #f4f8ff;
}

.rotated {
  transform: rotateY(90deg);
}

.taskList {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
