.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1t0px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
}

.button:hover {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

/* SIZES */

.sm {
  padding: 4px 8px;
}

.md {
  padding: 8px 16px;
}

.lg {
  padding: 12px 24px;
}

/* VARIANTS */

.text {
  border: none;
  color: var(--primary-blue);
}

.contained {
  background-color: var(--primary-blue);
  border: none;
  color: #fff;
}

.outlined {
  background-color: #fff;
  color: #121212;
  border: 1.5px solid #e8f1ff;
}
