.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  top: -50px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.navBtn {
  cursor: pointer;
  font-size: 24px;
  color: #787c99;
}

/* MODAL BODY */

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleWrapper,
.contentWrapper {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.label {
  color: #787c99;
  font-size: 16px;
}

.title {
  font-size: 20px;
  padding: 5px 0 0 0;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-family: 'Jost', 'Poppins', sans-serif;
}

.title::placeholder {
  font-weight: 500;
  color: #787c99;
}

.content {
  width: 100%;
  padding: 10px;
  border: 1px solid #e8f1ff;
  border-radius: 10px;
  resize: none;
  outline: none;
  font-size: 16px;
  font-family: 'Jost', 'Poppins', sans-serif;
}

.content::-webkit-scrollbar {
  width: 7px;
  transition: all 0.3s ease;
}

.content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}

/* FOOTER */

.modalFooter {
  display: flex;
  gap: 10px;
  justify-content: end;
}
