.header {
  display: flex;
  gap: 15px;
  justify-content: end;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e8f1ff;
}

.header button {
  background-color: var(--primary-blue);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s linear infinite;
  transform-origin: top left;
}
