.wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--accent-color);
}

.inputWrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.inputWrapper h2 {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 500;
}

.inputWrapper input {
  border: 1.5px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background-color: var(--input-color);
  color: var(--text-color);
}