.notesListWrapper {
  /* background-color: #fdfdfd; */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.addNoteButton {
  min-width: 300px;
  min-height: 214px;
  /* height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.5px dashed var(--accent-color);
  background: var(--background-color);
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
}

.addNoteButton:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}
