.resetPassForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  max-width: 90%;
}

.headerName {
  font-size: 32px;
  text-align: center;
}

.headerText {
  font-size: 18px;
  color: #777777;
  text-align: center;
}

.actionBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailError {
  text-align: center;
  color: red;
}

.emailSuccess {
  text-align: center;
  color: green;
}
