.dropdown {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: Jost, Poppins, sans-serif;
}

.dropdownHeader {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  border-radius: 10px;
}

.dropdownMenu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #e8f1ff;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdownMenuItem {
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  gap: 10px;
}

.dropdownMenuItem:hover {
  background-color: #f4f8ff;
}
