.tagManagerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainView h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
}

.currentTagsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  border-radius: 8px;
}

.tag {
  padding: 6px;
  display: flex;
  align-items: center;
  /* gap: 5px; */
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s transform ease;
}

.tag:hover {
  transform: scale(1.05);
}

.tagName {
  line-height: 1.1;
  margin-left: 3px;
  margin-right: 6px;
}

.deleteTagBtn {
  padding: 0;
  background-color: transparent;
  border: 5px;
  cursor: pointer;
}

.hashIcon,
.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hashIcon svg {
  height: 16px;
  width: 16px;
}

.closeIcon svg {
  height: 14px;
  width: 14px;
}

.searchTagWrapper {
  padding: 8px 11px;
  display: flex;
  align-items: center;
  border: 1.5px solid var(--accent-color);
  border-radius: 5px;
}

.searchTagWrapper span {
  padding-right: 10px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  border-right: 1px solid var(--accent-color);
}
.searchTagWrapper svg {
  height: 16px;
  width: 16px;
}
.searchTagWrapper input {
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: Jost, sans-serif;
  border: none;
  outline: none;
}
.searchTagWrapper input::placeholder {
  color: var(--text-color);
}

.addNewTag {
  padding: 10px;
  margin-top: 5px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition:
    0.2s color ease,
    0.2s background-color ease;
  border-radius: 5px;
  font-family: Jost, sans-serif;
}

.addNewTag:hover {
  color: var(--primary-blue);
  background-color: #dbe9ff;
}

.addNewTag span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewTag svg {
  height: 20px;
  width: 20px;
}

.expandedTagsMenu {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  border-radius: 8px;
  font-size: 14px;
}

.tagType {
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.availableTagsList {
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.availableTag {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
  transition:
    0.2s color ease,
    0.2s background-color ease;
}

.availableTag:hover {
  background-color: #fafcff;
  color: #1f790f;
}

.availableTag span {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.availableTag svg {
  height: 16px;
  width: 16px;
}

.openSearchbarBtn {
  padding: 0;
  border: 1.5px solid var(--accent-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 5px;
  transition:
    0.2s color ease,
    0.2s background-color ease;
  cursor: pointer;
}

.openSearchbarBtn span {
  padding: 3.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.openSearchbarBtn svg {
  transition: 0.2s transform ease;
  height: 18px;
  width: 18px;
}

.openSearchbarBtn:hover {
  border: #dbe9ff;
  padding: 1.5px;
  color: var(--primary-blue);
  background-color: #dbe9ff;
}

.creationTagWrapper {
  padding: 5px 7px;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.creationTagActionBtns {
  display: flex;
  gap: 10px;
  justify-content: end;
}
