.taskListItem {
  position: relative;
  display: flex;
  /* align-items: stretch; */
  align-items: center;
  /* gap: 45px; */
  gap: 10px;
  font-size: 16px;
  /* padding: 8px 10px; */
  padding: 8px 0;
  /* border-bottom: 1.5px solid var(--accent-color); */
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  /* background-color: #fbfbff; */
}

.taskListItem:hover {
  background-color: #fafcff;
  border: 1px solid var(--accent-color);
}

.taskListItem:hover .name {
  color: var(--primary-blue);
}

.taskListItem > * {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  margin-left: 5px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.2;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* color: var(--text-color); */
}

.dueDate,
.createdAt {
  /* width: 115px; */
  /* padding: 10px 5px; */
  /* border-left: 1.5px solid var(--accent-color); */
  /* color: var(--text-color); */
}

.createdAt {
  color: var(--text-color);
  font-size: 14px;
}

/* .priority {
  padding: 0 10px;
  width: 150px;
  border-left: 1.5px solid var(--accent-color);
  color: var(--text-color);
} */

.priority,
.dueDate {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 7px;
  border-radius: 5px;
}

.priorityWrapper {
  width: 95px;
}

.dueDate {
  background-color: rgba(203, 203, 203, 0.25);
}

.dueDateWrapper {
  width: 90px;
}

.taskNav {
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

.dragIcon {
  visibility: hidden;
  color: #000;
  cursor: grab;
}

.taskListItem:hover .dragIcon {
  visibility: visible;
}

.dragIcon {
  padding: 0 10px;
}

.dragIcon svg {
  height: 16px;
  width: 16px;
}
